@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@100&family=Space+Mono:wght@400;700&display=swap');
div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header,
main {
    margin-left: 16px;
}

header h1 {
    font-family: 'Inconsolata';
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.08em;
    color: #333;
    text-align: left;
}

#image {
    margin-top: 64px;
    margin-bottom: 60px;
    text-align: center;
}

img {
    height: 238px;
}

h2 {
    font-family: 'Space Mono';
    font-size: 48px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -0.035em;
    color: #333;
}

#text {
    margin-top: 30px;
    margin-bottom: 66px;
    font-family: 'Space Mono';
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}

a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 216px;
    min-height: 68px;
    font-family: 'Space Mono';
    letter-spacing: -0.035em;
    text-transform: uppercase;
    background-color: #333333;
    color: #fff;
}

footer p {
    margin-top: 66px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333;
}

@media only screen and (min-width: 700px) {
    header {
        margin: 40px 200px 0px 77px;
    }
    img {
        height: 539px;
    }
    h2 {
        min-width: 586px;
    }
    #texte {
        width: 381px;
    }
}